*.un~
.DS_Store
*.swp

app/vendors/libvorbis/**/*.lo
app/vendors/libvorbis/**/*.la
app/vendors/libvorbis/**/*.pc
app/vendors/libvorbis/**/*.o
app/vendors/libvorbis/**/*.spec
app/vendors/libvorbis/**/Makefile
app/vendors/libvorbis/**/Doxyfile
app/vendors/libvorbis/**/.deps
app/vendors/libvorbis/**/.libs
app/vendors/libvorbis/config.h
app/vendors/libvorbis/config.log
app/vendors/libvorbis/config.status
app/vendors/libvorbis/doc/doxygen-build.stamp
app/vendors/libvorbis/lib/test_sharedbook
app/vendors/libvorbis/libtool
app/vendors/libvorbis/stamp-h1

