body {
   margin:0px;
   padding:10px 0 0 10px;
   -webkit-user-select:none;
}

body * {
   font-family: Helvetica, Arial, sans-serif;
   font-size:12px;
   cursor: default;
}

a{
   color: #3d9bc9;
}

#main{
   display:none;
}

#loading{
   font-size: 14px;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 70px;
   margin-left:-35px;
}

h1{
   margin: 0 0 5px 0px;
   font-size: 30px;
   /* float:left; */
}

h2{
   margin:0px 0px 10px 0px;
   font-size: 16px;
}

#stage-container{
   float:left;
   border: 2px solid black;
}

.controls{
   background-color: #EEE;
   float:left;
   border: 2px solid black;   
   width: 280px;
   height: 90px;
   padding: 5px 10px 0 10px;
   margin: 0px 0px 10px 10px;
}


#play{
   cursor: pointer;
   width: 20px;
   height: 22px;
   display: inline-block;
   background: url('img/play.png') no-repeat center center;
   background-size: 100%;
}

#pause{
   cursor: pointer;
   width: 20px;
   height: 22px;
   display: inline-block;
   background: url('img/pause.png') no-repeat center center;
   background-size: 100%;
   margin-right: 10px;
}

#volume{
   display: inline-block;
   margin-bottom:-6px;
}

.knob .value{
   display: none;
}

#seek{
   width: 260px;
}

.music.controls .slider{
   margin-left: 10px;
}
   
.space.controls{
   height: 70px;
}

#room-size{
   width: 260px;
}

.reverb .knob{
   float:left;
   margin-right: 1px;
}

input[type=text]{
   width: 190px;
}

#selected-source{
   display:none;
}

#buttons{
   float:left;
   margin: 0px 0px 10px 10px;
}

button:hover, button:focus, button:active{
   color: #333;
   background-color: #ebebeb;
   border-color: #adadad;
}

button:hover, button:focus {
   color: #333;
   text-decoration: none;
}

button {
   color: #333;
   background-color: #fff;
   border-color: #ccc;
}

button {
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   white-space: nowrap;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   border-radius: 4px;
   border-color: #000;
   user-select: none;
}

#load-file{
   display:none;
}

.sound-output.controls{
   height: auto;
}

#configure-speakers-btn{
   display: none;
}

#configure-speakers-btn a{
   cursor: pointer;
}

#configure-speakers{
   display: none;
   background: url('img/speaker-arrangement.png') no-repeat bottom center;
   width: 280px;
   height: 320px; 
   margin-bottom: 10px;
   position: relative;
}


.speaker{
   display:block;
   width: 98px;
   height: 98px;
   position: absolute;
   cursor: pointer;
}

#speaker-fl:hover{
   background: url('img/speaker-fl.png');
}
#speaker-fl{
   top: 36px;
   left: -9px;
}

#speaker-fr:hover{
   background: url('img/speaker-fr.png');
}
#speaker-fr{
   top: 38px;
   left: 189px;
}

#speaker-br:hover{
   background: url('img/speaker-br.png');
}
#speaker-br{
   top: 237px;
   left: 190px;
}

#speaker-bl:hover{
   background: url('img/speaker-bl.png');
}
#speaker-bl{
   top: 236px;
   left: -8px;
}
